.container {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 330px;
}

.header_logo{
  color: navy;
  font-size: 24px;
}

.header_list li{
  float: left;
  list-style: none;
  margin-left: 20px;
}

.header_link{
  text-decoration: none;
}

.main_msg{
  font-size: 50px;
  font-weight: normal;
}

.blueback{
  position: relative;
  background-color: navy;
  width: 65%;
  height: 150px;
}

.blueback::after{
  position: absolute;
  top: -100%;
  left: 54%;
  content: "";
  background: url("../img/firstview.jpeg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  transform: translate(0,-40%);
}